# Not so clean text to tables (pandas fails)

Converting a flat file to a table can be tricky sometimes. [Most](gggg) of the time, it goes well as follows:

In [22]:
import random, pandas
text = [ "one","two","three","four","five","six","seven","eight","nine","ten" ]
data = [ { "name": text[random.randint(0,9)], "number": random.randint(0,99)} \
                        for i in range(0,10000) ]
df = pandas.DataFrame(data)
df.head(n=3)

    name  number
0  seven      54
1    six      97
2    six      80

[3 rows x 2 columns]

In [23]:
df.to_csv("flatfile.txt", sep="\t", encoding="utf8", header=True, index=False)
dfr = pandas.read_csv("flatfile.txt", sep="\t", encoding="utf8")
dfr.head(n=3)

    name  number
0  seven      54
1    six      97
2    six      80

[3 rows x 2 columns]

Le's assume now we introduce extra tabulations.

In [24]:
datatab = [ {"name": " one\ttab", "number":100 } ] + data
df = pandas.DataFrame(datatab)
df.head(n=3)

        name  number
0   one\ttab     100
1      seven      54
2        six      97

[3 rows x 2 columns]

In [25]:
df.to_csv("flatfile_tab.txt", sep="\t", encoding="utf8", header=True, index=False)
dfr = pandas.read_csv("flatfile_tab.txt", sep="\t", encoding="utf8")
dfr.head(n=3)

        name  number
0   one\ttab     100
1      seven      54
2        six      97

[3 rows x 2 columns]

It works well because we use ``pandas`` to save the dataframe, and we use ``pandas`` to restore it. In the file _flatfile_tab.txt_, it looks like ``"on\te"``. ``pandas`` interprets the quotes as a delimiter. However most of the times, the flat file is produced in a different way and the quotes are not present.

In [26]:
with open("flatfile_tab.txt","r",encoding="utf8") as f : content = f.read()
content = content.replace('"','')
with open("flatfile_tab2.txt","w",encoding="utf8") as f : f.write(content)
dfr = pandas.read_csv("flatfile_tab2.txt", sep="\t", encoding="utf8")
dfr.head(n=3)

      name  number
 one   tab     100
seven   54     NaN
six     97     NaN

[3 rows x 2 columns]

It failed! Data is not aligned and it did not raise an exception. If we move the extra tab in second position, we get:

In [27]:
datatab = data[:1] + [ {"name": " one\ttab", "number":100 } ] + data[1:]
df = pandas.DataFrame(datatab)
df.to_csv("flatfile_tab_pos2.txt", sep="\t", encoding="utf8", header=True, index=False)
with open("flatfile_tab_pos2.txt","r",encoding="utf8") as f : content = f.read()
content = content.replace('"','')
with open("flatfile_tab_pos2.txt","w",encoding="utf8") as f : f.write(content)
dfr = pandas.read_csv("flatfile_tab_pos2.txt", sep="\t", encoding="utf8")
dfr.head(n=3)

CParserError: Error tokenizing data. C error: Expected 2 fields in line 3, saw 3

As suggested in [Python Pandas Error tokenizing data](http://stackoverflow.com/questions/18039057/python-pandas-error-tokenizing-data), we could add the parameter ``error_bad_lines=False`` or ``skiprows=N`` but we would still lose those bad lines. So we use function [import_flatfile_into_database](http://www.xavierdupre.fr/app/pyensae/helpsphinx/pyensae/sql/database_helper.html#sql.database_helper.import_flatfile_into_database).

In [1]:
import pyensae
pyensae.import_flatfile_into_database("flatfile_tab_pos2.db3", "flatfile_tab_pos2.txt")

remove  flatfile_tab_pos2
SQL  'DROP TABLE flatfile_tab_pos2'
processing file  flatfile_tab_pos2.txt
  TextFile: opening file  flatfile_tab_pos2.txt
  TextFile: closing file  flatfile_tab_pos2.txt
   guess with

 1001 lines
   count_types  {0: {<class 'str'>: 1000}, 1: {<class 'str'>: 1, <class 'int'>: 999}}
   columns  {0: ('name', <class 'str'>), 1: ('number', <class 'int'>)}
   guess {0: ('name', (<class 'str'>, 10)), 1: ('number', <class 'int'>)}
   columns  {0: ('name', (<class 'str'>, 10)), 1: ('number', <class 'int'>)}
SQL  'CREATE TABLE flatfile_tab_pos2(name TEXT,'
'       number INTEGER);'
   column_has_space False ['name', 'number']
   changes {}
    TextFileColumns (2): regex:  {0: ('name', (<class 'str'>, 10)), 1: ('number', <class 'int'>)}
  TextFile.guess_columns: processing file  flatfile_tab_pos2.txt
  TextFile: opening file  flatfile_tab_pos2.txt
  TextFile.guess_columns: using  101  lines
  TextFile: closing file  flatfile_tab_pos2.txt
  TextFile.guess_columns: sep  '\t' nb cols 2  bestnb  100  more  {('\t', 1): 100, ('\t', 2): 1}
  TextFile.guess_columns: header  True  columns  {0: ('name', <class 'str'>), 1: ('number', <class 'int'>)}
  compiling ^(?P<name>.*)\t(?P<number>([-]?[1-9][0-9]*?)|(0?))
  TextFile.guess_columns: regex  ^(?P<name>.*)\t(?P<number>([-]?[1-9][0-9]*?)|(0?))
  TextFile.guess_columns: header  True  columns  {0: ('name', (<class 'str'>, 10)), 1: ('number', <class 'int'>)}
  TextFile: opening file  flatfile_tab_pos2.txt
^(?P<name>.*)\t(?P<number>([-]?[1-9][0-9]*?)|(0?))

error regex 0 unable to interprete line  10002 :  ''
  TextFile: closing file  flatfile_tab_pos2.txt
10001  lines imported

We check that we got the inserted line in the dataframe:

In [2]:
db = pyensae.Database("flatfile_tab_pos2.db3")
db.connect()
df = db.to_df("SELECT * FROM flatfile_tab_pos2")
db.close()
df.head()

SQL  'SELECT * FROM flatfile_tab_pos2'

       name  number
0     seven      54
1  one\ttab     100
2       six      97
3       six      80
4       two      94

[5 rows x 2 columns]